*
{

	box-sizing: border-box;
}
body{
	background: #141E30;
    background: linear-gradient(to right, #243B55, #141E30);
    color: rgb(240, 231, 231);
}
.open-button {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
  border: 2px solid black;
}
.form-popup h1
{
	color:white;
	font-family:'Lora';
}
.form-popup label
{
	color:white;
	font-family:'Lora';
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: black;
}


.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
#container {
  color:black;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:200px;  
  position:relative;
  width:100%;
  display:block;
  text-align:center;
  bottom:15%;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
  border-radius:8px;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#white;
}
#flip div:first-child div {
  background:#white;
}
#flip div:last-child div {
  background:#white;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}
